<div class="container-fluid">
    <div class="row">
      <div class="col mt-2">
        <button
          class="btn btn-primary"
          routerLink="/admin/grade/grade-form"
        >
          Nuevo grado
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col mt-2">
        <table class="table table-hover table-sm table-responsive-lg">
          <thead class="table-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let grade of grade; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>
                {{ grade.nombre_grado }}
                
              </td>
              
              <td>
                <button
                  class="btn btn-secondary btn-sm"
                  (click)="onOpenEditGrade(grade.id_grado!)"
                >
                  <i class="fas fa-edit"></i>
                </button>
                <button
                  class="btn btn-danger btn-sm ms-1"
                  (click)="onDeleteGrade(grade.id_grado!)"
                >
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
