<div class="container-fluid">
    <div class="row">
      <div class="col mt-2">
        <button class="btn btn-primary" routerLink="/admin/class/class-form">
          Nueva Clase
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col mt-2">
        <table class="table table-hover table-sm table-responsive-lg">
          <thead class="table-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Descripción</th>
              <th scope="col">Profesor</th>
              <th scope="col">Curso</th>
              <th scope="col">Aula</th>
              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let class of classs; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>
                {{ class.descripcion }}
              </td>
              <td>{{class.profesor?.primer_nombre_profesor +' '+ class.profesor?.primer_apellido_profesor || 'N/A'}}</td>
              <td>{{class.curso?.nombre_curso || 'N/A'}}</td>
              <td>{{class.aula?.nombre_aula || 'N/A'}}</td>
  
              <td>
                <button class="btn btn-secondary btn-sm" (click)="onOpenEditClass(class.id!)">
                  <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-danger btn-sm ms-1" (click)="onDeleteClass(class.id!)">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
