<div class="layout">
  <div class="header"></div>
  <div class="layout">
    <div class="sider" style="overflow-y: auto;">
      <div class="logo" routerLink="/home">
        <i class="fas fa-home fs-1"></i>
      </div>

      <ul class="list-group bg-dark">
        <li class="list-group-item list-group-item-dark" routerLink="users" routerLinkActive="active">
          <i class="fas fa-users-cog"></i> Usuarios
        </li>

        <li class="list-group-item list-group-item-dark" routerLink="professors" routerLinkActive="active">
          <i class="fas fa-user-tie"></i> Profesores
        </li>

        <li class="list-group-item list-group-item-dark" routerLink="students" routerLinkActive="active">
          <i class="fas fa-user-graduate"></i> Estudiantes

        </li>
        <li class="list-group-item list-group-item-dark" routerLink="grade" routerLinkActive="active">
          <i class="fas fa-user-graduate"></i> Grados
        </li>
        <li class="list-group-item list-group-item-dark" routerLink="classroom" routerLinkActive="active">
          <i class="fas fa-user-tie"></i> Aulas
        </li>
        <li class="list-group-item list-group-item-dark" routerLink="course" routerLinkActive="active">
          <i class="fas fa-user-tie"></i> Cursos
        </li>
        <li class="list-group-item list-group-item-dark" routerLink="class" routerLinkActive="active">
          <i class="fas fa-user-tie"></i> Clases
        </li>
        <li class="list-group-item list-group-item-dark" routerLink="content" routerLinkActive="active">
          <i class="fas fa-user-tie"></i> Contenidos
        </li>
      </ul>

    </div>
    <div class="content">
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
