<div class="container-fluid">
  <div class="row">
    <div class="col mt-2">
      <button class="btn btn-primary">Nueva matricula</button>
    </div>
  </div>
  <div class="row">
    <div class="col mt-2">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">F. Nacimiento</th>
            <th scope="col">Sexo</th>
            <th scope="col">Lateralidad</th>
            <th scope="col">Observación</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let estudiante of estudiantes; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              {{ estudiante.primerNombre }} {{ estudiante.segundoNombre }}
            </td>
            <td>
              {{ estudiante.primerApellido }} {{ estudiante.segundoApellido }}
            </td>
            <td>{{ estudiante.fechaNacimiento | date: "dd/MM/yyyy" }}</td>
            <td>{{ estudiante.sexo }}</td>
            <td>{{ estudiante.lateralidad }}</td>
            <td>{{ estudiante.email }}</td>
            <td>
              <button class="btn btn-secondary btn-sm">
                <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-danger btn-sm ms-1">
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
